/* @group overwrite of foundation */

h3 {
	font-size: 2.125rem;
	letter-spacing: 0.2rem;
}

/* @end */



/* @group original additional styles */

@font-face {
    font-family: 'Steelfish-Regular';
    src:url('../font/Steelfish-Regular.ttf.woff') format('woff'),
        url('../font/Steelfish-Regular.ttf.svg#Steelfish-Regular') format('svg'),
        url('../font/Steelfish-Regular.ttf.eot'),
        url('../font/Steelfish-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.steelfish {
	font-family: 'Steelfish-Regular';
}

/* @end */
